@using MvcStok.Models.Entity;
@model List<TBLURUNLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>URUN ID</th>
            <th>URUN ADI</th>
            <th>MARKASI</th>
            <th>KATEGORI</th>
            <th>FIYAT</th>
            <th>STOK</th>
            <th>Sil</th>
            <th>Guncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var urunler in Model)
        {
            <tr>
                <th>@urunler.URUNID</th>
                <td>@urunler.URUNAD</td>
                <td>@urunler.MARKA</td>
                <td>@urunler.TBLKATEGORILER.KATEGORIAD</td>
                <td>@urunler.FIYAT</td>
                <td>@urunler.STOK</td>
                <td><a href="/URUN/SIL/@urunler.URUNID" class="btn btn-danger">Sil</a></td>
                <td><a href="/URUN/UrunGetir/@urunler.URUNID" class="btn btn-success">Guncelle</a></td>


            </tr>
        }
    </tbody>



</table>
<a href="/URUN/UrunEkle/" class="btn btn-primary">Yeni Urun Ekle</a>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<script>
    $('#tbl1').DATATABLE();
</script>
